.App-body-landing {
  background-position: center;
  min-height: 100vh;
  min-width: 90vw;
  overflow: hidden;
}

.textLanding {
  color: white;
  margin-top: 4rem;
}

.Box-Form {
  width: 70rem;
  height: 13rem;
  background: #ecf0f1;
  margin: auto;
  margin-top: -2rem;
  padding: 1rem;
}

.ListKereta {
  width: 70rem;
  margin: auto;
  margin-top: 1rem;
}
